In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('cleaned_data.csv')
df.head(10)

   Unnamed: 0  total_sqft  bath  balcony   price site_location  bhk
0           0      1056.0   2.0      1.0   39.07   Alandi Road    2
1           1      2894.0   4.0      1.0  245.00   Alandi Road    4
2           2      1084.0   2.0      2.0   50.00   Alandi Road    2
3           3      1230.0   2.0      2.0   80.00   Alandi Road    2
4           4      1750.0   3.0      2.0  130.00   Alandi Road    3
5           5       995.0   2.0      1.0   41.00   Alandi Road    2
6           7      1360.0   2.0      1.0   95.00   Alandi Road    2
7           8      1040.0   2.0      2.0   50.00   Alandi Road    2
8           9      1655.0   3.0      2.0   86.06   Alandi Road    3
9          10      2790.0   5.0      3.0  198.00   Alandi Road    4

In [15]:
df.drop(columns='Unnamed: 0', inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"